flask
python-dotenv
groq
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-groq
langchain-qdrant
langchain-huggingface
qdrant-client
datasets
sentence-transformers
transformers
torch
scikit-learn
joblib
numpy
langsmith
